@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --red: #d01C28;
  --grey: #d9D9D9;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-size: 500;
}

* {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;

}
.container{
  margin: 0 auto;
  max-width: 1280px;
}

.hero{
    display: flex;
    align-items: center;
    height: calc(100vh-72px);
}
.hero h1{
      font-weight: 800 ;
      font-size: 108px;
      line-height: 102px;
      max-width: 600px;
}

.hero p{
  font-weight: 600;
  font-display: var(--grey);
  max-width: 404px;

}

.hero-button{
  display: flex;
  gap: 40px;
  font-size: 24px;
}

.secondary-button{
  background: transparent;
  color : var(--grey);
  border: 1px solid var(--grey);
  
}

.Shopping{
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons{
  display: flex;
  gap: 8px;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero-image{
  image-resolution: 530px * 430px;
}